@font-face {
  font-family: "abuget";
  src: url(./font/Abuget.ttf);
}
@font-face {
  font-family: "grotesk";
  src: url(./font/SharpGroteskBookRegular.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.outerwrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
}
.outerwrapper .preloader {
  height: 100%;
  width: 100%;
  background-color: #2a2828;
  position: fixed;
  z-index: 5;
}
.outerwrapper .preloader__overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
}
.outerwrapper .preloader__percentage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  font-family: "grotesk";
  color: #fff;
  font-size: 6rem;
}
.outerwrapper .preloader__loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  bottom: 20%;
  font-family: "grotesk";
}
.outerwrapper .preloader__dot {
  width: 0.35rem;
  height: 0.35rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
}
.outerwrapper .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 1rem;
}
.outerwrapper .header__navlinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  padding-bottom: 0.3rem;
}
.outerwrapper .header__navlinks li {
  list-style-type: none;
}
.outerwrapper .header__navlinks li a {
  text-decoration: none;
  color: #fff;
  font-family: "grotesk";
  font-size: 1rem;
}
.outerwrapper .header__dot {
  height: 1rem;
  width: 100%;
  position: relative;
}
.outerwrapper .header__dot--ball {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 12%;
  opacity: 0;
}
.outerwrapper .sideoftheday {
  background-color: #fff;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 20%;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  right: 0%;
  z-index: 3;
  padding: 0.8rem;
}
.outerwrapper .sideoftheday__w {
  display: flex;
  transform: rotate(90deg);
}
.outerwrapper .sideoftheday__title {
  align-content: center;
  font-weight: 600;
  font-size: 1rem;
}
.outerwrapper .music__sound {
  position: fixed;
  cursor: pointer;
  z-index: 3;
  bottom: 12%;
  right: 5%;
  padding: 0.5rem;
  overflow: hidden;
}
.outerwrapper .music__sound--icon {
  width: 1rem;
}
.outerwrapper .sound {
  width: 18.5rem;
  height: 10rem;
  background-color: #f5f5f5;
  z-index: 6;
  position: fixed;
  padding: 0.5rem;
  bottom: 20%;
  right: -100%;
  border-radius: 0.3rem;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}
.outerwrapper .sound__play--btn {
  cursor: pointer;
  border-radius: 50%;
}
.outerwrapper .sound__play--btn:hover {
  box-shadow: 0 0 0.5rem #000;
}
.outerwrapper .sound__artist {
  color: grey;
}
.outerwrapper .sound__artist--a {
  font-size: 1rem;
  color: grey;
}
.outerwrapper .sound__artist--a:hover {
  color: #000;
}
.outerwrapper .sound .waveform {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}
.outerwrapper .sound__soundcloud {
  cursor: pointer;
}
.outerwrapper .sound__privacy {
  font-size: 0.625rem;
  text-decoration: none;
  color: #000;
}
.outerwrapper .sound__plays {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.outerwrapper .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.outerwrapper .sidemap {
  height: 100%;
  width: 100%;
  z-index: 99;
  position: fixed;
  left: -100%;
  overflow: hidden;
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d1d171453ced37760dc31d9_map-bg-min%202.jpg");
}
.outerwrapper .sidemap__image {
  height: 100%;
  width: 100%;
  transform: scale(1.4);
}
.outerwrapper .sidemap__cross--button {
  background-color: #000;
  width: 2.2rem;
  height: 2.2rem;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  color: #fff;
  font-size: 1.625rem;
  position: absolute;
  border-radius: 50%;
  top: 10%;
  right: 10%;
  overflow: hidden;
  cursor: pointer;
}
.outerwrapper .openmap {
  position: fixed;
  cursor: pointer;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  bottom: 12%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerwrapper .openmap__icon {
  width: 0.8rem;
}
.outerwrapper .mapcircle {
  position: fixed;
  pointer-events: none;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  bottom: 12%;
  left: 5%;
}

.wrapper {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}
.wrapper .homepage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.wrapper .homepage__tree {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  transform: scale(1.4);
}
.wrapper .homepage__mountain {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -2;
}
.wrapper .homepage__mouse {
  width: 4%;
  bottom: 5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .homepage__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  gap: 1rem;
  color: #fff;
}
.wrapper .homepage__main--story {
  font-family: "abuget";
  font-size: 2rem;
}
.wrapper .homepage__main--logo {
  width: 30%;
}
.wrapper .homepage__plot {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.wrapper .homepage__plot--title {
  font-family: "grotesk";
  color: #fff;
  font-size: 2rem;
}
.wrapper .homepage__plot--desc {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.wrapper .homepage__plot--drawline {
  width: 16rem;
  height: 0.08rem;
  transform: rotate(90deg);
  left: 50%;
  top: 5.5rem;
  position: absolute;
  transform-origin: left;
  background-color: #fff;
}

.gooniespage {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
@media (max-width: 479px) {
  .gooniespage {
    flex-direction: column;
    height: 250%;
  }
}
.gooniespage__video {
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  left: -100%;
}
.gooniespage__video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .gooniespage__video {
    display: none;
  }
}
.gooniespage__video--details {
  width: 20rem;
  height: 18rem;
  background-color: #000;
  position: absolute;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 20%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding: 2.3rem;
  letter-spacing: 0.06rem;
  line-height: 1.8;
}
.gooniespage__video--details::-webkit-scrollbar {
  width: 0.625rem;
}
.gooniespage__video--details::-webkit-scrollbar-track {
  background: #000;
}
.gooniespage__video--details::-webkit-scrollbar-thumb {
  background: #2a2828;
}
.gooniespage__video--details img {
  width: 100%;
  height: 80%;
}
.gooniespage__video--details h3 {
  font-size: 1.625rem;
  color: #fff;
  font-family: "grotesk";
}
.gooniespage__video--details h5 {
  font-size: 0.825rem;
  color: #fff;
  font-family: "grotesk";
  font-weight: 400;
}
.gooniespage__video--details p {
  font-family: "Montserrat";
  font-size: 0.625rem;
  color: grey;
}
.gooniespage__video .closevideo {
  position: absolute;
  background-color: #000;
  width: 8rem;
  height: 2rem;
  color: #fff;
  font-family: "grotesk";
  right: 8%;
  top: 8%;
  border: 0;
  cursor: pointer;
}
.gooniespage__video .closevideo:hover {
  color: grey;
}
.gooniespage__mikey {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.gooniespage__mikey img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gooniespage__chunk {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.gooniespage__chunk img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gooniespage__data {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.gooniespage__data img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gooniespage__mouth {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.gooniespage__mouth img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gooniespage__desc {
  z-index: 3;
  position: absolute;
  bottom: -20%;
  left: 10%;
}
.gooniespage__desc h3 {
  font-size: 1.625rem;
  color: #fff;
  font-family: "grotesk";
  margin-bottom: 0.4rem;
}
.gooniespage__desc button {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "grotesk";
  cursor: pointer;
  gap: 0.3rem;
  width: 9rem;
}
.gooniespage__desc button img {
  width: 20%;
}
@media (max-width: 768px) {
  .gooniespage__desc button {
    display: none;
  }
}

.gooniescoins {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
  z-index: 2;
}
.gooniescoins__title {
  font-size: 1.625rem;
  color: #fff;
  font-family: "grotesk";
  letter-spacing: 0.2rem;
  z-index: 5;
  opacity: 0;
}
.gooniescoins__stone {
  width: 15%;
  position: absolute;
  transform: rotate(50deg);
  opacity: 0;
}
.gooniescoins__coin--topleft {
  width: 10%;
  position: absolute;
  top: 70%;
  left: 20%;
  opacity: 0;
}
.gooniescoins__coin--bottomleft {
  width: 10%;
  position: absolute;
  top: -15%;
  left: 32%;
}
.gooniescoins__coin--topright {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 70%;
  opacity: 0;
}
.gooniescoins__coin--bottomright {
  width: 10%;
  position: absolute;
  top: 10%;
  left: 70%;
}

.credits {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2fr);
  border-top: 0.1px groove #2a2828;
  border-bottom: 0.1px groove #2a2828;
}
@media (max-width: 768px) {
  .credits {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 2fr);
  }
}
.credits__desc {
  font-family: "grotesk";
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 2rem;
}
.credits__desc h5 {
  font-family: "grotesk";
  font-size: 1rem;
  font-weight: 400;
}
.credits__desc p {
  font-size: 0.825rem;
  font-weight: 400;
}
.credits__all {
  box-shadow: 0 0 0.5px 0.2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.credits__all--overflow {
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
}
.credits__all--title {
  font-size: 2.5rem;
  font-family: "grotesk";
}
.credits__all--image {
  width: 100%;
  position: absolute;
  top: 0;
}
.credits__all--imagedist {
  width: 25%;
}
.credits__all--imagemusic {
  width: 80%;
  position: absolute;
  top: 10%;
}
.credits__production {
  grid-column: 3/5;
  position: relative;
}
.credits__production--image {
  width: 50%;
  position: absolute;
}
@media (max-width: 768px) {
  .credits__production {
    grid-column: 1/2;
  }
}
@media (max-width: 768px) {
  .credits__boxoffice {
    grid-column: 1/3;
  }
}

.theater {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
@media (max-width: 768px) {
  .theater {
    height: 60%;
  }
}
.theater__skull {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
  top: 70%;
  width: 10%;
  color: grey;
}
.theater__audience {
  position: absolute;
  width: 100%;
  bottom: -50%;
}

.gallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #000;
  position: relative;
  gap: 0.3rem;
}
.gallery__details {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  cursor: pointer;
  gap: 0.5rem;
}
.gallery__details--title {
  color: #fff;
  font-size: 2rem;
  font-family: "grotesk";
}
.gallery__details--button {
  border: 0;
  padding: 0.3rem;
  margin: 0 1rem;
  background-color: #000;
  color: #fff;
  font-family: "grotesk";
  cursor: pointer;
}
.gallery__share--button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1rem;
  font-family: "grotesk";
  font-size: 0.825rem;
  text-decoration: none;
  z-index: 2;
}
.gallery__cross--button {
  background-color: #000;
  width: 3rem;
  height: 3rem;
  align-content: center;
  padding-bottom: 2rem;
  border: 0;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 40%;
  display: none;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.gallery__cross--button--p {
  font-size: 2rem;
}
.gallery__image {
  background-position: 50% 50%;
  background-size: cover;
}
.gallery__one {
  grid-column: 1/4;
  grid-row: 1/3;
  transform: scale(0.2, 0.2);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b90fa2ab90c75d6f44a8e_the-goonies.jpg");
}
.gallery__two {
  grid-column: 4/5;
  grid-row: 1/3;
  transform: scale(0.4, 0.4) translateX(-35rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b90fa2b24d9ce77182467_goonies-tongue.jpg");
}
.gallery__three {
  grid-column: 5/6;
  grid-row: 1/2;
  transform: translateY(8.75rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b90fa0369a41028d539d0_the-goonies-cave.jpg");
}
.gallery__four {
  grid-column: 6/9;
  grid-row: 1/3;
  transform: scale(0.7, 0.7) translateY(12rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b9359641a587dc58ecb84_Goonies-Captain-Chunk.jpg");
}
.gallery__five {
  grid-column: 5/6;
  grid-row: 2/3;
  transform: scale(0.8, 0.8) translate(-5.5rem, -3.5rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d23a6ca059b4b229b659eb7_rocks-min.jpg");
}
.gallery__six {
  grid-column: 1/3;
  grid-row: 3/5;
  transform: scale(0.6, 0.6) translateX(24.5rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b90fa641a584b528ebed3_20141201-125621.jpg");
}
.gallery__seven {
  grid-column: 3/6;
  grid-row: 3/8;
  transform: scale(0.5, 0.5);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b90fa641a58fc3a8ebed4_goonies_lead.jpg");
}
.gallery__eight {
  grid-column: 6/9;
  grid-row: 3/7;
  transform: scale(0.4, 0.4);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b93722b24d9f866182ebb_goonies4.jpg");
}
.gallery__nine {
  grid-column: 1/3;
  grid-row: 5/8;
  transform: scale(0.2, 0.2);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b938f2ab90c1171f45523_image.jpg");
}
.gallery__ten {
  grid-column: 6/7;
  grid-row: 7/8;
  transform: translateY(-5rem);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0b94f92ddabc77c98253ce_josh-brolin-recounts-seeing-the-pirate-ship-in-the-goonies-for-the-first-time-and-how-he-ruined-the-first-take-social.jpg");
}
.gallery__eleven {
  grid-column: 7/9;
  grid-row: 7/8;
  transform: scale(0.6, 0.6);
  background-image: url("https://uploads-ssl.webflow.com/5cff83ac2044e22cb8cf2f11/5d0bcacdefd94731f3b15073_The-Goonies-Lost-Treasure-and-Maritime-Law-720x340.jpg");
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: relative;
}
.footer__drawline {
  background-color: #fff;
  width: 12rem;
  height: 0.1rem;
  top: 38%;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg);
  transform-origin: right;
}
.footer__experience {
  font-family: "Montserrat";
  margin-bottom: 1rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  opacity: 0;
}
.footer__title {
  font-family: "grotesk";
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}
@media (max-width: 768px) {
  .footer__title {
    width: 100%;
    text-align: center;
  }
}
.footer__backtop--button {
  font-family: "grotesk";
  background-color: #000;
  border: 0;
  color: #fff;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  cursor: pointer;
}
.footer__author {
  font-family: "grotesk";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: #fff;
  font-size: 0.625rem;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .footer__author {
    width: 100%;
    text-align: center;
    font-size: 0.625rem;
  }
}
